.footer {
  margin-bottom: 60px;
}

.footer__text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 880px) {
  .footer {
    margin: 0 auto;
  }

  .footer__text {
    padding-left: 20px;
  }
}
