.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin: auto;
  max-width: 430px;
  max-height: 330px;
  width: 100vw;
  height: 100vh;
}

.modal__container-image {
  position: relative;
  margin: auto;
  max-width: 75vw;
  max-height: 75vw;
  background: transparent;
}

.modal__close {
  background-image: url(../images/modal-close.svg);
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  padding: 0;
  cursor: pointer;
}

.modal__close_image {
  position: absolute;
  top: -45px;
  right: -45px;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
  height: 100%;
}

.modal__description {
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
}

.modal__heading {
  color: #000;
  max-width: 330px;
  height: 23px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 36px 36px 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  height: 27px;
  gap: 30px;
  margin: 0 36px;
}

.modal__form-box {
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  padding-bottom: 13px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.modal__save-button {
  margin-top: 18px;
  margin-bottom: 36px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  padding: 14.25px 0 14.25px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    top: -40px;
    right: 0;
  }

  .modal__heading {
    font-size: 18px;
    margin: 25px 22px 75px;
  }

  .modal__form {
    max-width: 282px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .modal__form-box {
    font-size: 14px;
  }

  .modal__save-button {
    margin-bottom: 25px;
    font-size: 14px;
  }
  .modal__close_image {
    top: -30px;
    right: -30px;
  }
}
