.page {
  background-color: black;
  color: white;
  margin: 0;
}

.page__section {
  width: 100%;
  position: relative;
  max-width: 882px;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
