.page {
  background-color: black;
  color: white;
  margin: 0;
}

.page__section {
  width: 100%;
  position: relative;
  max-width: 882px;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 880px) {
  .page__section {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}
